<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>{{ cfg.website.title }}</title>
    {% endif %}
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% else %}
        <meta name="description" content="{{ cfg.website.description }}">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>

<div>
    {% include './partials/nav.html' %}
    <div class="container">