{% include './partials/header.html' %}

<div class="normal-container">
    {% include './partials/message.html' %}
    <div>
        <div class="page-card-title" style="margin-bottom: 16px">{{ title }}</div>
        <article class="message">
            <div class="message-body">
                {{ description }}
            </div>
        </article>
        <article id="errorMessage" class="message is-danger" style="display: none">
          <div class="message-body">

          </div>
        </article>
        <div class="content-tab">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Target Animal</label>
                        <div class="control">
                            <div class="select">
                                <select id="y" name="y">
                                    <option value="0">Cat</option>
                                    <option value="1">Dog</option>
                                    <option value="2">Wild</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Random Seed</label>
                        <div class="control">
                            <input class="input" id="seed" value="0" type="text" placeholder="Just type in anything">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Mode</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="mode" value="reference" id="refRadio" checked>
                                Reference mode
                            </label>
                            <label class="radio">
                                <input type="radio" name="mode" value="latent">
                                Latent Mode
                            </label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-desktop">
                <div class="column">
                    <div class="field">
                        <label class="label">Source Image</label>
                        <div class="control">
                            <figure class="image is-256x256" style="margin-bottom: 8px">
                                <img src="https://cdn.jsdelivr.net/gh/justsong-lab/images/misc/placeholder.png" alt="src" id="showSrcImage" width="256" height="256">
                            </figure>
                            <input id="srcImage" name="src_image" type="file" accept="image/*" style="display: none">
                            <input type="submit" class="button is-light" value="Select source image"
                                   onclick="submitSrcImage()">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Reference Image</label>
                        <div class="control">
                            <figure class="image is-256x256" style="margin-bottom: 8px">
                                <img src="https://cdn.jsdelivr.net/gh/justsong-lab/images/misc/placeholder.png" alt="ref" id="showRefImage" width="256" height="256">
                            </figure>
                            <input id="refImage" name="ref_image" type="file" accept="image/*" style="display: none">
                            <input type="submit" class="button is-light" value="Select reference image"
                                   onclick="submitRefImage()">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Generated Image</label>
                        <div class="control">
                            <figure class="image is-256x256" style="margin-bottom: 8px">
                                <img src="https://cdn.jsdelivr.net/gh/justsong-lab/images/misc/placeholder.png" alt="fake" id="showResImage" width="256" height="256">
                            </figure>
                            <input type="submit" class="button is-light" value="Generate"
                                   onclick="StarGANv2Generate()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include './partials/footer.html' %}